
/*
.token.selector, .token.important, .token.atrule, .token.keyword, .token.builtin {
    color: #00daff;
}
.token.operator, .token.entity, .token.url {
    color: #00fffd;
}
*/
div[class*="language-"] {
    position: relative;
    background-color: #384358;
	background-color: #2a3342;
    border-radius: 0;
}